:root {
  --dark-1: rgb(20, 20, 22);
  --dark-2: #333;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
}

body {
  background-color: var(--dark-1);
  height: 100vh;
}
#app {
  height: 100%;
}
#editor {
  display: flex;
  flex-direction: row;
  height: 100%;
}
.editor-sidebar {
  width: min(300px, 30%);
  background-color: var(--dark-2);
  height: 100%;
  display: flex;
  flex-direction: column;
}
.editor-header {
  color: #fff;
  text-align: center;
  padding: 1rem;
  border-bottom: 1px solid rgba(255,255,255,.5);
}
.textarea-editor {
  flex-grow: 1;
}
.textarea-editor textarea {
  width: 100%;
  height: 100%;
  font-size: .8rem;
  background-color: var(--dark-2);
  color: white;
}
#visualizer {
  width: 100%;
  height: 100%;
  flex-grow: 1;
}
#visualizer .card-content {
  color: white
}
.object-text-wrapper {
  padding: 1rem;
  list-style: none;
}
.object-text-wrapper {
  padding: 1rem;
  list-style: none;
}
.object-text-wrapper .object-key {
  color: rgb(133, 133, 255)
}
.object-text-wrapper .object-value {
  color: rgb(255, 255, 255)
}